body {
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 244, 1) 0%, rgba(221, 54, 210, 1) 33%, rgba(43, 106, 168, 1) 66%, rgba(4, 191, 230, 1) 100%);
    font-family: fantasy;

    display: flex;
    justify-content: center;
}

.inicio {
    width: 95%;
    height: 30vh;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#foto{
    width: 45%;
    height: 95%;
    border: 2px solid red;
}

#img{
    background-color: white;
    width: 50%;
    height: 100%;
    margin: auto;
    border-radius: 40%;
}

#datos{
    width: 45%;
    height: 95%;
    border: 2px solid red;
}